.container-nav {
    background-color: #333;
    width: 100%;
    border-radius: 8px;
}

/* Estilos para el contenedor principal */
.home-principal-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: #1E1E1E;
    color: white;
}

.home-principal-seccion__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0px;
}

.home-principal-seccion__carrusel {
    margin-bottom: 40px;
}

/* Estilos para el carrusel */
.carrusel-container {
    max-width: 1200px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
}

.carrusel {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
}

.carrusel-item {
    cursor: pointer;
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}

.carrusel-item__img {
    width: 100%;
    border-radius: 8px;
}

.carrusel-item__titulo {
    margin-top: 8px;
    font-weight: bold;
}

/* Estilos para las cards de películas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    cursor: pointer;
    text-align: center;
}

.card__img {
    width: 100%;
    border-radius: 8px;
}

.card__titulo {
    margin-top: 8px;
    font-weight: bold;
}

.card__fecha,
.card__calificacion {
    margin-top: 4px;
    color: #666;
}
