.search-bar-container{
    width: 460px;
    display: flex;
    justify-content: space-around;
}

.select-button {
  width: 20%;
  border-radius: 2px;
  background-color: rgb(203, 125, 0);
  border: none;
  text-align: center;
  font-weight: bold;
  appearance: none;
  position: relative;
}

.select-option {
  background-color: rgb(140, 91, 11);
  font-weight: bold;
  font-size: small;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.4rem;
  background-color: white;
  font-size: 1rem;
}

.search-input:focus {
  border-color: transparent;
}

.search-button {
  background-color: #686868;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}