nav {
    background-color: #333;
    width: 100%;
    border-radius: 5px;
    display: flex;
    padding: 20px 12px;
    align-items: center;
}

.nav-bar-links {
    margin: 0px 60px;
    text-align: center;
    align-items: center;
}

.link-nav {
    border-radius: 4px;
}

@media screen and (max-width: 460px) {
    .nav-bar-links {
        margin: 0px;
    }
}