.search-bar-container{
    background-color: #333;
    width: 100%;
    border-radius: 5px;
    display: flex;
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.select-button {
  width: 10%;
  border-radius: 2px;
  background-color: rgb(203, 125, 0);
  border: none;
  text-align: center;
  font-weight: bold;
  appearance: none;
  position: relative;
}

.select-option {
  background-color: rgb(140, 91, 11);
  font-weight: bold;
  font-size: small;
}

.search-input {
  width: 70%;
  height: 40px;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.4rem;
  background-color: white;
  font-size: 1rem;
}

.search-input:focus {
  border-color: transparent;
}

.search-button {
  background-color: #686868;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-dropdown {
  width: 60%;
  background-color: #686868;
  position: absolute;
  top: 40px;
  left: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-dropdown {
  width: auto;
  height: 80px;
  margin: 7px 10px;
}

.item-search {
  display: flex;
  align-items: center;
}

.Search {
  background-color: #333;
}

.contmax {
  display: fleX;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-pelis {
  margin-top: 20px;
}

.container-selector {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.Selector {
  margin: 0px 30px;
  width: 90px;
  border-radius: 2px;
  background-color: rgb(231, 231, 231);
  border: none;
  text-align: center;
  font-weight: bold;
}

h1 {
  width: 100%;
  height: auto;
  justify-content: center;
}

.Movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.Movie {
  width: 300px;
  height: 560px;
}

.movie-images {
  width: 100%;
}

.container-controll-button {
  display: flex;
  justify-content: space-around;
  padding: 0px 40%;
}

.controll-page-button {
  padding: 9px 20px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
} 

.Selector {
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
  width: 96%;
  text-align: left;
  background-color: #1c1c1c;
  padding: 15px;
  line-height: 20px;
  margin: 30px 20px;
}

.selector-label {
  margin: 5px 10px;
}

@media screen and (max-width: 460px) {
  .search-input {
    width: 40%;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.4rem;
    background-color: white;
    font-size: 1rem;
  }

  .select-button {
    width: 23%;
    border-radius: 2px;
    background-color: rgb(203, 125, 0);
    border: none;
    text-align: center;
    font-weight: bold;
    appearance: none;
    position: relative;
  }

  .search-button {
    background-color: #686868;
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .select-option {
    background-color: rgb(140, 91, 11);
    font-weight: bold;
    font-size: 8px;
  }

  .search-dropdown {
    width: 64%;
    background-color: #686868;
    position: absolute;
    top: 40px;
    left: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .image-dropdown {
    width: auto;
    height: 80px;
    margin: 7px 10px;
  }
  
  .item-search {
    display: flex;
    align-items: center;
  }

  .Movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .Movie {
    width: 300px;
    height: 560px;
  }

  .Selector {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    width: 87%;
    text-align: left;
    background-color: #1c1c1c;
    padding: 15px;
    line-height: 20px;
    margin: 30px 20px;
  }
}