/* SearchBarM1.css */

.search-container {
    position: relative; /* Necesario para que los elementos hijos posicionados absolutamente se alineen correctamente */
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .select-button {
    flex: 1;
    margin-right: 10px;
  }
  
  .search-input {
    flex: 3;
    margin-right: 10px;
  }
  
  .search-button {
    flex: 1;
  }


.results-container {
    position: absolute; /* Posiciona los resultados de forma que no afecten al layout */
    top: 100%; /* Posiciona debajo de la barra de búsqueda */
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none; /* Para evitar un borde doble con la barra de búsqueda */
    z-index: 1000; /* Para asegurar que los resultados están sobre otros elementos */
    max-height: 300px; /* Opcional: Limita la altura de los resultados con scroll */
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }


.result-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .result-link:hover {
    background-color: #f5f5f5;
  }

  
  .result-link img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right: 10px;
  }